{% extends "base.html" %}

{% block title %}TSURA.org - Event List{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-3">
        TSURA
    </h1>

    <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">Welcome!</h4>
        <p>This is a community project that shows hotlapping lap times from the Hotlapping TSU server and an elo list based on league/event results. 
            Times driven on the hotlapping server should be updated within 10 seconds after the event ended (when you are back in the menu basically).
        </p>
        <hr>
        <p class="mb-0">Whenever you find or suspect a bug, please send a message to Dremet on discord.</p>
    </div>

    <blockquote class="blockquote">
        <p>TSURA stands for <a href="https://www.turbosliders.com/home" target="_blank">Turbo Sliders Unlimited</a>
            Racing Association.
            <a href="https://discord.gg/eJcWWmRkXQ" target="_blank">Join us
                on Discord!</a>
        </p>
    </blockquote>
</div>

<div class="container mt-5">
    <h2 class="display-4">Elo Rating <span class="badge text-bg-danger">New</span></h2>
    <dl class="row">
        <dt class="col-sm-3">What is an elo rating?</dt>
        <dd class="col-sm-9">"The Elo rating system is a method for calculating the relative skill levels of players in zero-sum games such as chess or esports. It is named after its creator Arpad Elo, a Hungarian-American physics professor." - <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a></dd>
      
        <dt class="col-sm-3">Isn't elo only for 2 player games?</dt>
        <dd class="col-sm-9">Yes but it can be adapted, see <a href="https://towardsdatascience.com/developing-a-generalized-elo-rating-system-for-multiplayer-games-b9b495e87802">here</a> for details. Basically, it calculates an expected score/position for everyone based on everyone's current elo and then checks how far
        the actual score deviates from the expected score. The deviation is than translated to a win or loss of elo rating.</dd>
      
        <dt class="col-sm-3">Which races do count?</dt>
        <dd class="col-sm-9">Semi-realistic league and event races like F3, GrT, GTE etc. Relatively short (less than 20 minutes) races with reversed grid starts do not count. Hotlapping results do not count. Closed-community events also don't count.</dd>
            
        <dt class="col-sm-3">When/How does it update?</dt>
        <dd class="col-sm-9">
          It requires a manual processing step. If I (Dremet) participate in a league/event race I will often update it right after the event. If I don't participate, please send me the json result file and I will update it in the following days.
        </dd>

        <dt class="col-sm-3">What if I miss a race?</dt>
        <dd class="col-sm-9">
          Nothing. Elo changes only if you participate in the respective race.
        </dd>

        <dt class="col-sm-3">Is it perfect?</dt>
        <dd class="col-sm-9">Obviously, it is not but it should be close to the best possible skill estimation among the community. Drawbacks are "certain numbers of races needed to get to your elo level", "in the short run the number of partitipations might be more important than your skill", "some people might be significantly better with one car than with another" etc.
            Splitting elo into multiple car classes would decrease the number of data points for each and therefore would make numbers less useful. 
        </dd>
      </dl>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/elo" class="btn btn-danger btn-lg" tabindex="-1" role="button"
                        aria-disabled="false"><i class="fa-solid fa-ranking-star"></i> Go to elo rating list</a>
      </div>
</div>

<div class="container mt-5">
    <h2 class="display-4">Event List</h2>
    <div class="alert alert-warning" role="alert">
        <i class="fa-solid fa-lightbulb"></i> The latest and currently active event is the first one in the list.
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><i class="fa-solid fa-list-ol"></i> ID</th>
                <th><i class="fa-solid fa-road"></i> Track</th>
                <th><i class="fa-solid fa-car-side"></i> Car(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>
                    {{ row[1] }}&nbsp;
                    <a href='https://steamcommunity.com/workshop/browse/?appid=1478340&searchtext=%22{{ row[1]| replace(" ", "+") }}%22'
                        target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                    </a>
                </td>
                <td>
                    {% set cars = row[2] | split(',') %}
                    {% for car in cars %}
                    {{ car }}&nbsp;
                    <a href='https://steamcommunity.com/workshop/browse/?appid=1478340&searchtext=%22{{ car| replace(" ", "+") }}%22'
                        target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                    </a>
                    <br />
                    {% endfor %}
                </td>
                <td>
                    <a href="/event/{{ row[0] }}" class="btn btn-danger btn-lg" tabindex="-1" role="button"
                        aria-disabled="false"><i class="fa-solid fa-eye"></i> Results</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <h2 class="display-4">FAQ</h2>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    How does this work?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Dedicated servers - like the hotlapping server - allow to log race results to a file. That file is
                    automatically processed and times are written to a database right after each hotlapping session is
                    over (roughly every 5 minutes).
                    This website displays the data from the result database. If you want to participate, just join the
                    hotlapping server and enjoy, no need to register. Track-Car-Combinations will probably change weekly
                    so that everyone can get a chance to participate.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I support?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Of course! First of all taking part in the hotlapping competition is the most important way to
                    support it. The more participants we have, the more fun it is! Also, as you can see, I am not a
                    frontend web developer. If you are or you want to become one, let me know!
                    You want to support financially? You can <a href="https://www.buymeacoffee.com/dremet"
                        target="_blank">buy me a
                        coffee</a> <i class="fa-solid fa-heart"></i>!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}